
  <mat-card>
    <mat-card-header >
        <mat-card-title layout="row" layout-align="center center">
             Create Spot Quotation ( Manual )
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form id="createsqform" [formGroup]="createSq" fxFlex fxLayout="column" fxLayout.xs="column" autocomplete="off">
          <app-tender-details [eproc]=false></app-tender-details>
          <app-proposaldetails></app-proposaldetails>
          <app-amount-details></app-amount-details>
          <app-combine-committe-members></app-combine-committe-members>
          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button [disabled]="!this.createSq.valid" (click)="createsqtender()" mat-raised-button color="primary">Submit</button>
          </div>
        </form>
    </mat-card-content>
  </mat-card>
