<div fxFlex fxFlexAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Prepare NIT
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="nitForm">
        <div fxLayout="row wrap" fxLayoutGap="25px">
          <mat-form-field appearance="outline">
            <mat-label>Proposal Approved Date</mat-label>
            <input matInput formControlName="proposalapprovedDate" [matDatepicker]="picker1" (focus)="picker1.open()" placeholder="Choose Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>BOD Date</mat-label>
            <input matInput formControlName="bodDate" [matDatepicker]="picker2" (focus)="picker2.open()" placeholder="Choose Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="boddiv" fxLayout="row wrap" fxLayoutGap="25px">
          <mat-form-field appearance="outline">
            <mat-label>CandM BOD Member</mat-label>
            <input type="text" Placeholder="name" matInput formControlName="candmBodMem" [matAutocomplete]="auto3">
            <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let emp of candmBodFilteredEmployees | async" [value]="emp">
                {{emp.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Indent BOD Member</mat-label>
            <input type="text" Placeholder="name" matInput formControlName="indentBodMem" [matAutocomplete]="auto4">
            <mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let emp of indentBodFilteredEmployees | async" [value]="emp">
                {{emp.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>FandA BOD Member</mat-label>
            <input type="text" Placeholder="name" matInput formControlName="fandaBodMem" [matAutocomplete]="auto5">
            <mat-autocomplete #auto5="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let emp of fandaBodFilteredEmployees | async" [value]="emp">
                {{emp.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="tecdiv" fxLayout="row wrap" fxLayoutGap="25px">
          <mat-form-field appearance="outline">
            <mat-label>CandM TEC Member</mat-label>
            <input type="text" Placeholder="name" matInput formControlName="candmTecMem" [matAutocomplete]="auto6">
            <mat-autocomplete #auto6="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let emp of candmTecFilteredEmployees | async" [value]="emp">
                {{emp.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Indent TEC Member</mat-label>
            <input type="text" Placeholder="name" matInput formControlName="indentTecMem" [matAutocomplete]="auto7">
            <mat-autocomplete #auto7="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let emp of indentTecFilteredEmployees | async" [value]="emp">
                {{emp.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>FandA TEC Member</mat-label>
            <input type="text" Placeholder="name" matInput formControlName="fandaTecMem" [matAutocomplete]="auto8">
            <mat-autocomplete #auto8="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let emp of fandaTecFilteredEmployees | async" [value]="emp">
                {{emp.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <mat-checkbox  formControlName="specialconditions"><h4>Include Special Conditions for Contract</h4></mat-checkbox>
        <h4>General Conditions of Contract</h4>
        <div fxLayout="column" fxLayoutGap="25px">
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="scopeofwork" (change)="paymentChanged()">Scope of Work</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Scope of Work</mat-label>
              <textarea matTextareaAutosize matInput formControlName="scopeofworkText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="emd" (change)="paymentChanged()">EMD</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>EMD</mat-label>
              <textarea matTextareaAutosize matInput formControlName="emdText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="paymentterms" (change)="paymentChanged()">Terms of Payment</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Terms of Payment</mat-label>
              <textarea matTextareaAutosize matInput formControlName="paymenttermsText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="contractperiod" (change)="paymentChanged()">Contract Period</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Contract Period</mat-label>
              <textarea matTextareaAutosize matInput formControlName="contractperiodText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="deliveryperiod" (change)="paymentChanged()">Delivery Period</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Delivery Period</mat-label>
              <textarea matTextareaAutosize matInput formControlName="delivaryperiodText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="pricebasis" (change)="paymentChanged()">Price Basis</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Price Basis</mat-label>
              <textarea matTextareaAutosize matInput formControlName="pricebasisText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="validity" (change)="paymentChanged()">Validity</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Validity</mat-label>
              <textarea matTextareaAutosize matInput formControlName="validityText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="taxesandduties" (change)="paymentChanged()">Taxes and Duties</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Taxes and Duties</mat-label>
              <textarea matTextareaAutosize matInput formControlName="taxesanddutiestext"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="warranty" (change)="paymentChanged()">Warranty</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Warranty</mat-label>
              <textarea matTextareaAutosize matInput formControlName="warrantyText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="cpg" (change)="paymentChanged()">Contract Performance Guarantee</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Contract Performance Guarantee</mat-label>
              <textarea  matTextareaAutosize matInput formControlName="cpgText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="sd" (change)="paymentChanged()">Security Deposit</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Security Deposit</mat-label>
              <textarea matTextareaAutosize  matInput formControlName="sdText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="ld" (change)="paymentChanged()">Liquidity Damage</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Liquidity Damage</mat-label>
              <textarea matTextareaAutosize matInput formControlName="ldText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="qv" (change)="paymentChanged()">Quantity Variation</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Quantity Variation</mat-label>
              <textarea matTextareaAutosize matInput formControlName="qvText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="arbitration" (change)="paymentChanged()">Arbitration</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Arbitration</mat-label>
              <textarea matTextareaAutosize matInput formControlName="arbitrationText"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <mat-checkbox fxFlex="20%" formControlName="officerincharge" (change)="paymentChanged()">Officer Incharge</mat-checkbox>
            <mat-form-field appearance="outline" fxFlex="60%">
              <mat-label>Officer Incharge</mat-label>
              <textarea matTextareaAutosize matInput formControlName="officerinchargeText"></textarea>
            </mat-form-field>
          </div>
        </div>


        <button mat-raised-button [disabled]="!this.nitForm.valid"  (click)="getLTENIT()" color="primary">Submit</button>
      </form>

    </mat-card-content>
  </mat-card>
</div>
