<div fxLayout="row wrap"  fxLayoutAlign="start" class="">
  <div *ngFor="let item of stages;let i = index;" class="stageli" [fxFlex] = "getSize(i)" fxLayout="column" (click)="toggleSmall(i)">
    <div  fxLayout="row wrap" fxFlex="24px" fxLayoutAlign="center center">
      <div [ngClass]="i==0?'hideli':''"  fxFlex>
        <hr [ngClass]="{'liline':mainStages.includes(i),
                        'smallliline': !mainStages.includes(i),
                        'incompleteliline': i>presentStage,
                        'presentliline': i==presentStage,
                        'completeliline': i<presentStage}" >
      </div>
      <div  [ngClass]="{'iconwithroundedborder': mainStages.includes(i),
                        'middleiconwithroundedborder': mainStages.includes(i) && !staticMainStages.includes(i),
                        'smalliconwithroundedborder': !mainStages.includes(i),
                        'incompleteicon': i>presentStage,
                        'presenticon': i==presentStage,
                        'completeicon': i<presentStage}" >
        <mat-icon [ngClass] = "{'liicons': staticMainStages.includes(i),
                                'smallliicons': !mainStages.includes(i),
                                'middleliicons': mainStages.includes(i) && !staticMainStages.includes(i) }" aria-hidden="false" aria-label="Example home icon">
          {{staticMainStages.includes(i) ? geticon(i) : ''}}
        </mat-icon>
      </div>
      <div [ngClass]="i==stages.length-1?'hideli':''" fxFlex  >
        <hr  [ngClass]="{'liline': mainStages.includes(i),
                         'smallliline': !mainStages.includes(i),
                         'incompleteliline': i>presentStage,
                         'presentliline': i==presentStage,
                         'completeliline': i<presentStage}">
      </div>
    </div>
    <div fxLayoutAlign="center" >
      <p >{{mainStages.includes(i) ? item : ' '}}</p>
    </div>
  </div>
</div>
