<div class="detailsdiv" fxFlexFill>
  <div fxLayoutAlign="center" >
    <app-spb-compnt *ngIf="this.ds.biddetails.stages"
                     [stages]="this.ds.biddetails.stages"
                     [presentStage]="this.ds.biddetails.bidStage"
                     [mainStages] = "this.ds.biddetails.mainStages"></app-spb-compnt>
  </div>
  <div fxLayoutAlign="center">
      <app-commondetails></app-commondetails>
  </div>
  <div fxLayoutAlign="center" *ngIf="this.ds.biddetails.BidType == 'SpotQuotation'">
    <app-committee-members typeCommittee = "Spot Quotaion Committee"
                        [CommitteeMembers] = "this.ds.biddetails.committeeMembers"></app-committee-members>
  </div>
  <div  *ngIf="this.ds.biddetails.pvDetails">
    <app-participatedvendordetails
                      [ParticipatedVendors] = "this.ds.biddetails.pvDetails">
                    </app-participatedvendordetails>
  </div>



  <div *ngIf="this.ds.biddetails.nitsentvendors">
      <h4>LTE sent to the following Vendors:-</h4>
      <ul>
        <li *ngFor="let vendor of this.ds.biddetails.nitsentvendors">M/s {{vendor.name}}</li>
      </ul>
  </div>
  <app-participatedvendors *ngIf="this.ds.biddetails.participatedvendors"></app-participatedvendors>
</div>
