.bidCardDiv {
  min-width: 250px;
  max-width : 250px;
  margin: 15px;
}

mat-card {
  min-height: 300px;
  max-height: 350px;
  background-color: aliceblue;
  color: black;
}

mat-card-header {
  background: #1976d2;
  color: #fff;
  padding:5px;
  max-height: 50px;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0px;
}

mat-card-content {
  word-break: break-all;
}
