.bidCardDiv {
  min-width: 250px;
  max-width : 250px;
  margin: 15px;
}

mat-card {
  min-height: 300px;
  max-height: 300px;
  background-color: aliceblue;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

mat-card-header {
  background: #1976d2;
  color: #fff;
  padding:5px;
  max-height: 50px;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0px;
}

mat-card-content {
  word-break: break-all;
}

.urgent {
  background-color: crimson;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.lte {
  background-color: #1e3d59;
  color: white;
}

.lte mat-card-header {
  background-color: #f5f0e1;
  color: black;
}

.lteeproc {
  background-color: #1e847f;
  color: white;
}

.lteeproc mat-card-header {
  background-color: #ecc19c;
  color: black;
}

.displaybidsdiv {
  max-height: 80.5vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
