<div fxFlex fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px">
  <div *ngFor="let bid of allBids" fxFlex class="bidCardDiv">
    <mat-card class="bidCard" fxFlex fxLayout="column">
      <mat-card-header fxFlex fxLayoutAlign="center center">
        <mat-card-title> I-556 </mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex fxLayout="column" fxLayoutAlign="space-between space-between">
            <p> Providing  Internet Leased Line  for SRLDC for a period of two years at Bangalore POSOCO </p>
            <p> HR Department </p>
            <p> Open Tender </p>
            <p> Notesheet to be Approved </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
