/*#topbar{
  background-color: cornflowerblue;
  color: white;
  border-radius: 15px;
}

.container {
  width: 80%;
  margin: 10px auto;
}*/

.menu-spacer {
  flex: 1 1 auto;
}

.container{
  width:100%;
  /* margin: 10px auto; */
}

.topbarcontent {
  max-width: fit-content;
}

mat-toolbar{
  height: auto;
}

.logoImage{
  width: 55px !important;
}

.leadP {
  margin: 0px;
  font-size: 1.25rem;
  font-weight: 300;
}

.imgdiv{
 margin: 10px;
}

.srldchead{
  margin-right: 3px;
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.25rem;
}

.headingsdiv{
  margin-left: 5px;
}
