<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="django_handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Contracts\candm\candmenv\Scripts\python.exe|E:\Contracts\candm\candmenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
