<mat-card>
  <mat-card-content>
      <form fxFlex fxLayoutGap="10px" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        <mat-form-field appearance="outline">
          <mat-label>Indent Number</mat-label>
          <input matInput  type="number" placeholder="" [(ngModel)]="filterBid.Indentno" name="Indentno" (ngModelChange)="sendDisplayBids()">
          <!-- <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let onebid of allbids" [value]="onebid.Indentno">
              {{onebid.Indentno}}
            </mat-option>
          </mat-autocomplete> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tender Subject</mat-label>
          <input matInput placeholder="" [(ngModel)]="filterBid.TenderSubject" name="TenderSubject" (ngModelChange)="sendDisplayBids()">
          <!-- <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let onebid of allbids" [value]="onebid.TenderSubject">
              {{onebid.TenderSubject}}
            </mat-option>
          </mat-autocomplete> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Indent Department</mat-label>
          <mat-select  [(ngModel)]="filterBid.IndentDepartment" name="IndentDepartment" (ngModelChange)="sendDisplayBids()">
            <mat-option value=''>All Departments</mat-option>
            <mat-option *ngFor="let dept of departments" [value]="dept">
              {{dept}}
            </mat-option>
          </mat-select>
          <!-- <input matInput placeholder="" [(ngModel)]="filterBid.IndentDepartment" name="IndentDepartment" (ngModelChange)="sendDisplayBids()"> -->
          <!-- <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let dept of indentdepts" [value]="dept">
              {{dept}}
            </mat-option>
          </mat-autocomplete> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tender Type</mat-label>
          <mat-select  [(ngModel)]="filterBid.BidType" name="BidType" (ngModelChange)="sendDisplayBids()">
            <mat-option value=''>All Tender Types</mat-option>
            <mat-option *ngFor="let mop of optionsformodeofProcurments" [value]="mop.value">
              {{mop.label}}
            </mat-option>
          </mat-select>
          <!-- <input matInput placeholder="" [(ngModel)]="filterBid.BidType" name="BidType" (ngModelChange)="sendDisplayBids()"> -->
          <!-- <mat-autocomplete #auto3="matAutocomplete">
            <mat-option *ngFor="let btype of bidtypes" [value]="btype">
              {{btype}}
            </mat-option>
          </mat-autocomplete> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contracts with value greater than</mat-label>
          <input matInput  type="number" placeholder="" [(ngModel)]="greaterValue" name="greaterValue" (ngModelChange)="sendDisplayBids()">
          <!-- <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let onebid of allbids" [value]="onebid.Indentno">
              {{onebid.Indentno}}
            </mat-option>
          </mat-autocomplete> -->
        </mat-form-field>
          
          
        
        
        <!-- <mat-form-field appearance="outline">
          <mat-label>Bid Status</mat-label>
          <input matInput placeholder="" [(ngModel)]="filterBid.BidStatus" name="BidStatus" (ngModelChange)="sendDisplayBids()"> -->
          <!-- <mat-autocomplete #auto4="matAutocomplete">
            <mat-option *ngFor="let bstatus of bidstatuses" [value]="bstatus">
              {{bstatus}}
            </mat-option>
          </mat-autocomplete> -->
        <!-- </mat-form-field> -->
        <app-vendor-field [vnLabel]="'Awarded Vendor'"  fxFlex></app-vendor-field>
      </form>
      
  </mat-card-content>

</mat-card>
