mat-sidenav-container {
  min-height: 80vh;
}

mat-card-header {
  background: #1976d2;
  color: #fff;
  padding:5px;
}

mat-card {
  padding: 0px!important;
}

/* mat-card-content {
  padding-top: 15px;
} */

#sidediv {
  padding-left: 5px;
  padding-right: 5px;
}


mat-card-title {
  width: 100%;
  text-align: center;
}

mat-sidenav-content {
  /*margin-left: 125px!important;*/
}

::ng-deep .mat-card-header-text {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-card-header .mat-card-title {
   margin-bottom: 0px;
}

a {
  min-width: 125px;
  max-width: 125px;
  white-space: pre-wrap;
  line-height: 26px;
}

.menua {
  padding-top: 10px;
}

.menua a {
  border-bottom: 1px solid darkgray;
  border-radius: 0px;
}
