<mat-card>
  <mat-card-header >
        <mat-card-title>
             {{tendersubject}}
        </mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <mat-sidenav-container class="example-container" >
      <mat-sidenav mode="side" opened>
        <div class="menua" fxFlex fxLayout="column" fxLayoutGap="15px" id="sidediv">
          <a mat-button  routerLink="candmmsg">Status</a>
          <a mat-button  routerLink='showfiles'>Files</a>
          <a mat-button  [routerLink]="['uploadfiles']">Upload Files</a>
          <div  fxFlex fxLayout="column" fxLayoutGap="15px">
            <a mat-button  *ngFor="let menu of nextstageMenu" [routerLink]="menu.link">{{menu.stage}}</a>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-card-content>
</mat-card>
