<p *ngIf="!loaded"> Loading ....... </p>
<div *ngIf="loaded" fxLayout="column"  fxLayoutAlign="start start">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
    <div fxFlex="70px">
      <button  mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div  fxFlex fxLayoutAlign="center center">
      <p class="subjectp">{{tendersubject}}</p>
    </div>
  </div>
  <div fxFlexFill>

    <mat-sidenav-container class="example-container" >
      <mat-sidenav #sidenav mode="over">
        <div class="menua" fxFlex fxLayout="column" fxLayoutGap="15px" id="sidediv">
          <a mat-button routerLink="candmmsg" (click)="sidenav.toggle()">Status</a>
          <a mat-button  routerLink='showfiles' (click)="sidenav.toggle()">Files</a>
          <!-- <a mat-button  [routerLink]="['uploadfiles']" (click)="sidenav.toggle()">Upload Files</a> -->
          <div  fxFlex fxLayout="column" fxLayoutGap="15px">
            <a mat-button  *ngFor="let menu of nextstageMenu" [routerLink]="menu.link" (click)="sidenav.toggle()">{{menu.stage}}</a>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
