::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {

}

mat-card-header {
  background: #1976d2;
  color: #fff;
  padding:5px;
}

mat-card {
  padding: 0px!important;
}

mat-card-content {
  padding: 15px;
}

mat-card-title {
  width: 100%;
  text-align: center;
}

::ng-deep .mat-card-header-text {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-card-header .mat-card-title {
   margin-bottom: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input[type=date] {
  -moz-appearance:textfield; /* Firefox */
}

h3 {
  font-weight: 500;
}

h4 {
  margin-top: 0px;
}
