<div fxLayout="column wrap" fxLayout.xs="column" 
fxLayoutAlign="start center" 
fxLayoutGap="15px" class="commdetailsdiv">
  <mat-card class="comdetailscard mat-elevation-z3">
    <mat-card-header class="comdetailsheader">
      <mat-card-title>Estimated Cost</mat-card-title>
    </mat-card-header>
    <mat-card-content class="comdetailscontent">
        <p class="comdetailsp">
          <span>Rs.</span>
          <span class="maincontent estCostp">{{this.ds.biddetails.estCost}} </span>
          <span *ngIf="this.ds.biddetails.gstIncl">Incl. of Taxes</span>
          <span *ngIf="!this.ds.biddetails.gstIncl">Excl. of Taxes</span>
        </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="comdetailscard mat-elevation-z3">
    <mat-card-header class="comdetailsheader">
      <mat-card-title>Type of Procurement</mat-card-title>
    </mat-card-header>
    <mat-card-content class="comdetailscontent">
        <p class="comdetailsp">
          <span class="maincontent">{{this.ds.biddetails.BidType}} </span>
        </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="comdetailscard mat-elevation-z3">
    <mat-card-header class="comdetailsheader">
      <mat-card-title>Indenter</mat-card-title>
    </mat-card-header>
    <mat-card-content class="comdetailscontent">
        <p class="comdetailsp">
          <span class="maincontent"> {{this.ds.biddetails.IndentDepartment}},  {{this.ds.biddetails.IndenterName}} </span>
        </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="comdetailscard mat-elevation-z3">
    <mat-card-header class="comdetailsheader">
      <mat-card-title>Awarded Value</mat-card-title>
    </mat-card-header>
    <mat-card-content class="comdetailscontent">
        <p class="comdetailsp">
          <span>Rs.</span>
          <span *ngIf="this.ds.biddetails.awardedAmount;else elseBlock" class="maincontent estCostp"> {{this.ds.biddetails.awardedAmount}}</span>
          <ng-template class="maincontent" #elseBlock>--</ng-template>
          <span *ngIf="this.ds.biddetails.awardedGstIncl">Incl. of Taxes</span>
          <span *ngIf="!this.ds.biddetails.awardedGstIncl">Excl. of Taxes</span>
        </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="comdetailscard mat-elevation-z3">
    <mat-card-header class="comdetailsheader">
      <mat-card-title>Contract Period</mat-card-title>
    </mat-card-header>
    <mat-card-content class="comdetailscontent">
        <p class="comdetailsp">
          <span *ngIf="this.ds.biddetails.completionperiod;else elseBlock" class="maincontent"> {{this.ds.biddetails.completionperiod}}</span>
          <ng-template class="maincontent" #elseBlock>--</ng-template>
        </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="comdetailscard mat-elevation-z3">
    <mat-card-header class="comdetailsheader">
      <mat-card-title>Awarded Vendor</mat-card-title>
    </mat-card-header>
    <mat-card-content class="comdetailscontent">
        <p class="comdetailsp">
          <span *ngIf="this.ds.biddetails.AwardedVendor;else elseBlock" class="maincontent"> M/s {{this.ds.biddetails.AwardedVendor.name}}</span>
          <ng-template class="maincontent" #elseBlock>--</ng-template>
        </p>
    </mat-card-content>
  </mat-card>

  <!-- <mat-card class="comdetailscard mat-elevation-z3">
    <mat-card-header class="comdetailsheader">
      <mat-card-title>Engineer Incharge</mat-card-title>
    </mat-card-header>
    <mat-card-content class="comdetailscontent">
        <p class="comdetailsp">
          <span *ngIf="this.ds.biddetails.engineerincharge;else elseBlock" class="maincontent"> {{this.ds.biddetails.engineerincharge}}</span>
          <ng-template class="maincontent" #elseBlock>--</ng-template>
        </p>
    </mat-card-content>
  </mat-card> -->




</div>
