<!--The content below is only a placeholder and can be replaced.-->

<!-- <div class="rxWorld" *ngIf="curtain" (click)="curtain_click()">

  <section class="rnOuter ">  
      <div class='rnInner'>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
          <div class='rnUnit'></div>
      </div>
  </section>
      
       
</div> -->
<div *ngIf="!curtain">
  <app-topbar></app-topbar>
  <!-- <div class="container" >
    <router-outlet></router-outlet>
  </div> -->
</div>

